@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Josefin Sans";
}