.movie__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.movie__thumbnail {
    position: relative;
    display: flex;
    width: 15%;
    border-radius: 5px;
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    z-index: 10;
}

.movie__box {
    display: inline-block;
    height: 20em;
    cursor: pointer;
    text-align: center;
    margin: auto;
    transition: 0.4s;
    color: white;
    text-shadow: 3px 3px black;
}

.movie__box:hover {
    transform: scale(1.3);
    .movie__title {
        color: rgb(234, 116, 19);
        text-shadow: 2px 2px black;
    }
}

.movie__box:active {
    transform: scale(0.8);
}

.movie__image {
    margin: auto;
    position: relative;
    display: block;
    border-radius: 5px;
    width: 200px;
}

.movie__title {
    position: relative;
    flex: 1;
    border: none;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    z-index: 100;
    font-weight: bold;
}

$medium_thresh: 850px;
$large_thresh: 1850px;
@media (min-width: $medium_thresh) and (max-width: $large_thresh) {
    .movie__thumbnail {
        margin-bottom: 20px;
    }
    .movie__box {
        height: 18em;
    }
    .movie__image {
        width: 180px;
    }
    .movie__title {
        font-size: 22px;
        margin-top: 20px;
    }
}

@media (max-width: $medium_thresh) {
    .movie__thumbnail {
        margin-bottom: 20px;
        width: 90%;
    }
    .movie__box {
        height: 18em;
    }
    .movie__image {
        width: 200px;
    }
    .movie__title {
        font-size: 22px;
        margin-top: 20px;
    }
}