@font-face {
    font-family: 'title-font';
    src: url('../../public/fonts/Library3am-5V3Z.otf');
}

.movie__big__title {
    color: azure;
    text-shadow: 5px 5px rgb(50, 1, 1);
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'title-font';
    display: table;
    margin: auto;
    margin-bottom: 20px;
}

.details__page {
    display: flex;
    width: 100%;
}

.movie__big__img {
    position: relative;
    width: 30%;
    left: 15em;
    top: 2em;
}

.big__img {
    width: 400px;
    margin: auto;
    position: relative;
    display: block;
    border-radius: 5px;
}

.movie__info__box {
    background-color: rgba(60, 64, 59, 0.75);
    border-radius: 10px;
    position: relative;
    top: 7em;
    left: 15em;
    width: 40%;
    font-size: 20px;
    height: 60%;
}

.movie__info__line {
    margin: 20px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    transition: 0.5s;
    color: white;
    p {
        margin-left: 50px;
        margin-bottom: 0;
    }
    div {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

.movie__info__line:hover {
    transform: scale(1.05);
    color: chocolate;
}

#description__line {
    display: inline-block;
}

.detail__icon {
    font-size: 30px;
    margin-right: 20px;
}

#detail__info__icon {
    margin-right: 30px;
}

$small_thresh: 700px;
$medium_thresh: 1250px;
$large_thresh: 1500px;
@media (min-width: $medium_thresh) and (max-width: $large_thresh) {
    .movie__big__img {
        width: 30%;
        left: 13em;
        top: 5em;
    }
    .big__img {
        width: 300px;
    }
    .movie__info__box {
        border-radius: 10px;
        right: 5em;
        width: 40%;
        font-size: 20px;
    }
    .movie__info__line {
        margin: 20px;
        margin-top: 30px;
        margin-left: 30px;
        p {
            margin-left: 50px;
        }
        div {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

@media (min-width: $small_thresh) and (max-width: $medium_thresh) {
    .movie__big__img {
        width: 30%;
        left: 5em;
        top: 5em;
    }
    .big__img {
        width: 300px;
    }
    .movie__info__box {
        border-radius: 10px;
        // right: 20em;
        left: 10em;
        width: 40%;
        font-size: 20px;
    }
    .movie__info__line {
        margin: 20px;
        margin-top: 30px;
        margin-left: 30px;
        p {
            margin-left: 50px;
        }
        div {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: $small_thresh) {
    .details__page {
        display: block;
    }
    .movie__big__img {
        width: 70%;
        margin: auto;
        position: relative;
        left: 0;
        top: 5em;
    }
    .big__img {
        width: 300px;
    }
    .movie__info__box {
        border-radius: 10px;
        // right: 20em;
        // left: 6em;
        left: 0;
        position: relative;
        width: 70%;
        font-size: 20px;
        margin: auto;
        margin-bottom: 10em;
        padding-bottom: 0.1px;
    }
    .movie__info__line {
        margin: 70px;
        margin-top: 30px;
        margin-left: 30px;
        p {
            margin-left: 50px;
        }
        div {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}