.button__home {
    background-color: white;
    cursor: pointer;
    color: rgb(59, 62, 59);
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1.7em;
    left: 1.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    .home__icon {
        font-size: 23px;
    }
}

.button__home:hover {
    background-color: rgb(59, 62, 59);
    color: white;
}

.button__home:active {
    transform: scale(0.7);
}

@font-face {
    font-family: 'title-font';
    src: url('../../public/fonts/Library3am-5V3Z.otf');
}

.movie__big__title {
    color: azure;
    text-shadow: 5px 5px rgb(50, 1, 1);
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'title-font';
    display: table;
    margin: auto;
    margin-bottom: 20px;
}

.details__page {
    display: flex;
    width: 100%;
}

.movie__big__img {
    position: relative;
    width: 30%;
    left: 10em;
}

.big__img {
    width: 250px;
    margin: auto;
    position: relative;
    display: block;
    border-radius: 5px;
}

.movie__info__box {
    background-color: rgba(60, 64, 59, 0.75);
    border-radius: 10px;
    position: absolute;
    right: 5em;
    width: 50%;
    font-size: 20px;
}

.movie__info__line {
    margin: 20px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    transition: 0.5s;
    color: white;
    p {
        margin-left: 50px;
        margin-bottom: 0;
    }
    div {
        margin-top: 5px;
    }
}

.movie__info__line:hover {
    transform: scale(1.05);
    color: chocolate;
}

#description__line {
    display: inline-block;
}

#written_description {
    position: absolute;
    display: inline;
    flex-direction: row;
    width: 80%;
}

.detail__icon {
    font-size: 30px;
    margin-right: 20px;
}

#detail__info__icon {
    margin-right: 30px;
}

$small_thresh: 875px;
$medium_thresh: 1200px;
$large_thresh: 2000px;