@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.search__bar {
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 23px;
    right: 2em;
    width: 50%;
    top: 1.8em;
    font-weight: bold;
    text-shadow: 2px 2px black;
    input {
        width: 60%;
        border-radius: 40px;
        padding: 10px 30px;
        margin-left: 10px;
        font-size: 20px;
        border: none;
        box-shadow: inset 0 0 5px black;
    }
}

.filter__bar {
    position: absolute;
    display: inline;
    color: white;
    right: 1em;
    font-size: 23px;
    width: 15%;
    top: 1.8em;
    font-weight: bold;
    text-shadow: 2px 2px black;
    select {
        width: 70%;
        border-radius: 40px;
        padding: 10px 30px;
        margin-left: 15px;
        font-size: 20px;
        border: none;
        box-shadow: inset 0 0 5px black;
    }
}

.movie__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.movie__thumbnail {
    position: relative;
    display: flex;
    width: 15%;
    border-radius: 5px;
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    z-index: 10;
}

.movie__box {
    display: inline-block;
    height: 20em;
    cursor: pointer;
    text-align: center;
    margin: auto;
    transition: 0.4s;
    color: white;
    text-shadow: 3px 3px black;
}

.movie__box:hover {
    transform: scale(1.3);
    .movie__title {
        color: rgb(234, 116, 19);
        text-shadow: 2px 2px black;
    }
}

.movie__box:active {
    transform: scale(0.8);
}

.movie__image {
    margin: auto;
    position: relative;
    display: block;
    border-radius: 5px;
    width: 200px;
}

.movie__title {
    position: relative;
    flex: 1;
    border: none;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    z-index: 100;
    font-weight: bold;
    font-family: 'Josefin Sans';
}

$small_thresh: 875px;
$medium_thresh: 1200px;
$large_thresh: 2000px;
@media (min-width: $medium_thresh) and (max-width: $large_thresh) {
    .search__bar {
        right: 2em;
        width: 52%;
        top: 1.2em;
        input {
            width: 45%;
            padding: 10px 20px;
        }
    }
    .filter__bar {
        right: 0;
        width: 24%;
        top: 1.2em;
        select {
            width: 60%;
            padding: 10px 20px;
        }
    }
    .movie__thumbnail {
        margin-bottom: 20px;
    }
    .movie__box {
        height: 18em;
    }
    .movie__image {
        width: 180px;
    }
    .movie__title {
        font-size: 22px;
        margin-top: 20px;
    }
}