@font-face {
    font-family: 'motion-font';
    src: url('../../public/fonts/UchronyCubeBold-MVX1P.ttf');
}

.navigation {
    background-color: rgb(37, 36, 36);
    height: 8em;
    position: sticky;
    margin-top: 0;
}

.title {
    position: absolute;
    left: 3em;
    top: 0.5em;
    display: inline-block;
    font-family: 'motion-font';
    font-size: 60px;
    color: white;
}

$small_thresh: 875px;
$medium_thresh: 1200px;
$large_thresh: 2000px;
@media (min-width: $medium_thresh) and (max-width: $large_thresh) {
    .navigation {
        height: 6em;
    }
    .title {
        top: 0.7em;
        left: 2em;
        font-size: 40px;
    }
}