body {
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
    background-image: url('../public/background_image/app_background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}